html {
    background-color : #FFFFFF;

 
    background-repeat: repeat-x;
    background-position: bottom;

    padding: 0px;
    margin: 0px;

    font: 15px Helvetica,Verdana,sans-serif;
    margin-bottom : 0px;
  }

body {
	padding-bottom: 135px;

	border: solid 0px red;
	width: 760px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}


a:link {
       color: #3d77b7;
       text-decoration:	underline;
}

a:visited {
	  color: #000000;
	  text-decoration: underline;
}

p {
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

ul {
   list-style-image: url(bulletpoint.gif);
   padding-bottom: 0px;
}

li {
   padding-left: 5px;
   padding-bottom: 5px;
}

.header {
	padding: 0px;
    margin-top: 30px;	
    margin-left: auto;
    margin-right: auto;
    width: 500px;
 !--   border: 1px solid; --!
}

p.contact {
    margin-left: 300px;
}

.navbar {
    clear: both;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;    
}

p.navlinks {
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.me {
    font-weight: bold;
}

.conf {
      font-style: italic;
}

.section {
	 padding-left: 26px;
	 padding-bottom: 30px;
}

.interest {
	  font-weight: bold;
}

h1 {
   padding-top:50px;
   padding-bottom: 15px;
   margin: 0px;
   font: 30px Futura,tahoma,verdana,sans-serif;
}

h2 {
	font: 22px Futura,tahoma,verdana,sans-serif;
	padding: 0;
	margin: 0;
	margin-top: 20px;
}

blockquote {
	 padding-left: 26px;
	 margin-left: 0px;
    font-style:italic;
}

.diss {
     padding-top: 10px;
	 padding-left: 26px;
}


h3 {
	font-size: 15px;
	padding: 0;
	margin: 0;
	margin-top: 5px;
}

p.address {
    margin-left: 3em;
    margin-bottom: 1em;
}

p.comment {
    font-style: italic;
}
